.App {
  text-align: center;
}

.Header{
  font-size: 2rem;
  font-weight: 700;
  padding: 2.0rem;
  background-color: rgb(46, 44, 44);
  color: white;
  border-bottom: 10px solid #2B65EC;
  text-decoration: none;

}

.vote {
  width:150px;
  margin-left:20px;


  float: left;
  clear: left;
  justify-content: center;



  display: block;
  float: none; 
  clear: both;
  
}


.imagesOfTopic {
  width: 30%;
  height: auto;
}

.articleCardClass {
  border-style: solid;
}



.navigateTopic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

}

.navigationLink {
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
  padding: 25px;
  text-decoration: none;
  
}

/* .Comments{
  justify-content: center;
  align-items: center;
} */

.commentCardClass {
  border-style: solid;
  /* height: 500; */
  width:auto; 
  /* display: flex; */
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(69, 121, 17, 0.842);
}


